<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the requested file or directory exists, don't rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route /register to register.php
    RewriteRule ^register/?$ register.php [L,QSA]

    # Route /login to login.php
    RewriteRule ^login/?$ login.php [L,QSA]
    
    RewriteRule ^profile/?$ profile.php [L,QSA]

    RewriteRule ^logout/?$ logout.php [L,QSA]
    
    
    RewriteRule ^holocaust/?$ resources/holocaust.php [L,QSA]
    RewriteRule ^carti/?$ resources/carti.php [L,QSA]
    RewriteRule ^filme/?$ resources/filme.php [L,QSA]
    RewriteRule ^harta/?$ resources/harta.php [L,QSA]
    
    RewriteRule ^ascensiune/?$ resources/first.php [L,QSA]
    RewriteRule ^persecutie/?$ resources/second.php [L,QSA]
    RewriteRule ^kindertransport/?$ resources/third.php [L,QSA]
    RewriteRule ^deportari/?$ resources/fourth.php [L,QSA]
    RewriteRule ^einsatzgruppen/?$ resources/fifth.php [L,QSA]
    RewriteRule ^lagare/?$ resources/sixth.php [L,QSA]
    RewriteRule ^rezistenta/?$ resources/seventh.php [L,QSA]
    RewriteRule ^marsuri/?$ resources/eight.php [L,QSA]
    RewriteRule ^reconstruirea/?$ resources/nine.php [L,QSA]
    RewriteRule ^dreptatea/?$ resources/ten.php [L,QSA]
    RewriteRule ^holocaustastazi/?$ resources/tenf.php [L,QSA]
    RewriteRule ^vasileszekely/?$ resources/vasile.php [L,QSA]
    RewriteRule ^salamongolda/?$ resources/salamon.php [L,QSA]
    RewriteRule ^test_holocaust/?$ resources/test_holocaust.php [L,QSA]

    # Optionally, route the root URL to index.php
    RewriteRule ^$ index.php [L,QSA]
</IfModule>

